.app-all {
    width: 1200px;
    margin: auto;
}

.app-headline {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    display: flex;
    border-left: 7px solid rgb(243, 193, 215);
    gap: 12px;
    justify-content: space-between;
}

.app-todo {
    font-size: 180%;
}

.app-name {
    font-size: 100%;
    display: flex;
    align-items: center;
}

.app-title {
    width: flex;
    height: 100px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 227, 239);
    border-radius: 10px;
    padding: auto 10px auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.app-inputBox {
    color: rgb(112, 10, 10);
    font-weight: bold;
    font-size: large;
}

.app-input {
    width: 180px;
    height: 30px;
    border-radius: 5px;
}

.app-addBtn {
    color: white;
    border: 2px solid rgb(241, 210, 224);
    background-color: rgb(235, 86, 150);
    border-radius: 5px;
    width: 100px;
    height: 35px;
}

.app.text {
    margin: 0 20px 0 20px;
}

.app-resultBox {
    display: flex;
    flex-wrap: wrap;
}

.app-todolist {
    width: 300px;
    height: 200px;
    background-color: white;
    border: 2px solid rgb(243, 193, 215);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px 30px 10px 30px;
    justify-content: center;
    line-height: 1.2;
}

.app-text_title1 {
    font-size: 150%;
    font-weight: bolder;
}

.app-text_title2 {
    font-size: 100%;
    color: gray;
}

.app-removeBtn {
    width: 100px;
    height: 40px;
    border: 2px solid #ff1717;
    background-color: white;
    border-radius: 5px;
}

.app-btn {
    width: 100px;
    height: 40px;
    border: 2px solid #1abd0c;
    background-color: white;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
}